<!doctype html>
<head><title>Trades</title>
    <meta charset=utf-8>
</head>
<body>
<h1>Common trades upload</h1>
<form method=post enctype=multipart/form-data>
    <input type=file name=file>
    <input type=submit value=Upload>
</form>
<!--
<h2>Date Field</h2>

<p>Here you choose date.</p>
<form method=post action="/generate_prices">
    <label for="File Date">File Date:</label>
    <input type="date" id="File Date" name="File Date">
    <input type="submit" name="Generate Prices" value="Generate Prices">
</form>

<h2>Generate Bond Parameters</h2>
<form method=post action="/generate_bond_parameters">
    <label for="bond_param_date">Reporting date set to:</label>
    <input type="date" id="bond_param_date" name="bond_param_date">
    <input type="submit" name="Generate Bond Parameters" value="Generate Bond Parameters">
</form>
<h2>Reconciliation Options</h2>
<form method=post action="/reco_fcstone_trade_price_trnfhr">
    <label for="fcst_trade_price_trnfhr">FCStone Trade Price Reco (TRNFHR):</label>
    <input type="date" id="fcst_trade_price_trnfhr" name="fcst_trade_price_trnfhr">
    <input type="submit" name="Execute reco" value="Execute reco">
</form>
<form method=post action="/reco_fcstone_trade_price_st4f1">
    <label for="fcst_trade_price_st4f1">FCStone Trade Price Reco (ST4F1):</label>
    <input type="date" id="fcst_trade_price_st4f1" name="fcst_trade_price_st4f1">
    <input type="submit" name="Execute reco" value="Execute reco">
</form>
<form method=post action="/reco_fcstone_settlement_prices">
    <label for="fcst_settl_prices">FCStone Settlement Prices Reco (POSF1):</label>
    <input type="date" id="fcst_settl_prices" name="fcst_settl_prices">
    <input type="submit" name="Execute reco" value="Execute reco">
</form>
<form method=post action="/kgi_trade_price">
    <label for="kgi_trade_price">KGI Trade Price Reco (CHE-102 TradeConfirm):</label>
    <input type="date" id="kgi_trade_price" name="kgi_trade_price">
    <input type="submit" name="Execute reco" value="Execute reco">
</form>
<form method=post action="/hgnh_trade_price">
    <label for="hgnh_trade_price">HGNH Trade Price Reco:</label>
    <input type="date" id="hgnh_trade_price" name="hgnh_trade_price">
    <input type="submit" name="Execute reco" value="Execute reco">
</form>
<form method=post action="/edfuk_trade_price">
    <label for="edfuk_trade_price">EDFUK Trade Price Reco:</label>
    <input type="date" id="edfuk_trade_price" name="edfuk_trade_price">
    <input type="submit" name="Execute reco" value="Execute reco">
</form>
<form method=post action="/edfus_trade_price">
    <label for="edfus_trade_price">EDFUS Trade Price Reco:</label>
    <input type="date" id="edfus_trade_price" name="edfus_trade_price">
    <input type="submit" name="Execute reco" value="Execute reco">
</form>

<form method=post action="/reco_client_broker">
    <label for="reco_client_broker">Reco Client vs Broker:</label>
    <input type="date" id="reco_client_broker" name="reco_client_broker">
    <input type="submit" name="Execute reco" value="Execute reco">
</form>

<h2>Other reports</h2>
<form method=post action="/interest_sheet">
    <label for="interest_sheet">Interest sheet:</label>
    <input type="date" id="interest_sheet" name="interest_sheet">
    <input type="submit" name="Generate report" value="Generate report">
</form>
-->
</body>

<p><strong>Note:</strong> type="date" is not supported in Safari or Internet Explorer 11 (or earlier).</p>