<!doctype html>
<head><title>Trades</title>
    <meta charset=utf-8>
</head>
<body>
<h1>Common trades upload</h1>
<form method=post enctype=multipart/form-data>
    <input type=file name=file>
    <input type=submit value=Upload>
</form>

<h2>Date Field</h2>

<p>Here you choose date.</p>

<form method=post action="/generate_prices">
    <label for="File Date">File Date:</label>
    <input type="date" id="File Date" name="File Date">
    <input type="submit" name="Generate Prices" value="Generate Prices">
</form>

<h2>Generate Bond Parameters</h2>
<form method=post action="/generate_bond_parameters">
    <input type="submit" name="Generate Bond Parameters" value="Generate Bond Parameters">
</form>

<h2>Reconciliation Options</h2>

<form method=post action="/reco_fcstone_trade_price">
    <label for="fcst_trade_price">FCStone Trade Price Reco (TRNFHR):</label>
    <input type="date" id="fcst_trade_price" name="fcst_trade_price">
    <input type="submit" name="Execute reco" value="Execute reco">
</form>

<p><strong>Note:</strong> type="date" is not supported in Safari or Internet Explorer 11 (or earlier).</p>

</body>